#chat-sattus-bar {
  background-color: #abc1d1;
}
#chat-screen {
  background-color: #abc1d1;
  height: 200vh;
}
#chat-screen .alt-header {
  position: sticky;
  width: 100%;
  box-sizing: border-box;
}
.main-chat {
}
.chats__timestamp {
}
