.bookmark {
  display: flex;
  position: absolute;
  top: 22px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color: var(--yellow);
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
